@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-kumo-bg text-slate-100 antialiased selection:bg-kumo-orange selection:text-white;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B0D13;
}
::-webkit-scrollbar-thumb {
  background: #20283C;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2C3852;
}
